#navbar  {
    text-align: center ;
    background-image: url("../Images/Navbg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 240px;
}
#navbar h1{
    margin: 0;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

#navbar input{
    width: 400px;
    height: 40px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border: none;
    padding-left: 18px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(151, 150, 150);
    opacity: 1; /* Firefox */
}

#navbar button{
    background-color:black;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 11px;
    padding-bottom: 13px;
    padding-left: 18px;
    padding-right: 18px;
    cursor: pointer;
    border:none;
}

textarea:focus, input:focus, button:focus{
    outline: none;
}

.leaflet-container {
    height: 66.5vh;
    width: 100%;
  }